<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="'navigation'"
    [mode]="'side'"
    [opened]="true"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item
        routerLinkActive="active-list-item"
        routerLink="login"
      >
        <mat-icon matListItemIcon>login</mat-icon>
        <span matListItemTitle>Login</span>
      </mat-list-item>
      <mat-list-item
        routerLinkActive="active-list-item"
        routerLink="students"
      >
        <mat-icon matListItemIcon>groups</mat-icon>
        <span matListItemTitle>Students</span>
        <div matListItemLine>students dashboard</div>
      </mat-list-item>
      <!-- Just simulate logout for now -->
      <mat-list-item
        routerLinkActive="active-list-item"
        routerLink="login"
      >
        <mat-icon matListItemIcon>logout</mat-icon>
        <span matListItemTitle>Logout</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ title }}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
